
{% extends "shared/_layout.html" %}
{% block title %}About Cricket{% endblock %}

{% block main_content %}
    <h1>About Cricket</h1>
    <h3>by Parker & Stoll </h3>

    <div>
        <p>Stoll's work as a data analysis consultant for Tableau and an enthusiasm for darts originating with the Covid pandemic lockdown led to the
        desire to understand statistics underlying his hundreds of Cricket games. Reaching out to Parker, both decided to create a web application capable 
        of recording games by inning to really undersand the blow by blow bouts of darts. And so now you two can create an account to record your Cricket matches.</p>

    </div>
{% endblock %}

{% block additional_css %}
<!-- this would be css from about.html -->
{% endblock %}