{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="hero">
        <div class="hero-inner">
            <h1>Keep track of your crushing victories with Cricket. For serious chirpers only. </h1>
            <div class="subtitle">
                Head to <a link href="/account"> your account </a> to continue a saved game.
            </div>
        </div>
    </div>

    <div class="pypi-stats">
        <div class="stat">{{ "{:,}".format(games_count) }} Games Played </div>
        <div class="stat">{{ "{:,}".format(innings_count) }} Innings Played </div>
        <div class="stat">{{ "{:,}".format(user_count) }} User Count </div>
    </div>

    <div class="container project-list">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h2>Most Recent Games</h2>

                {% for i in innings %}
                    <div class="project">
                        <div class="title">
                            <div> Turn {{ i.inning + 1 }} of Game {{ i.game_id }} </div>
                            
                            <div class="desc"> {{ i.player_one_username }}:{{ i.player_one_score }} </div>
                            <div class="desc"> {{ i.player_two_username }}:{{ i.player_two_score }}</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}