body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
    background-color: #000000c4;
}

.main_content {
    background: #fff;
    margin: 0px;
    padding: 0px 0px 50px;
}

.form-container {
    background: #fff;
    margin: 40px;
    padding: 40px 40px 50px;
}

.game-container {
    background: #fff;
    margin: 40px;
    padding: 20px 40px 0px;
}

.game-container .topper {
    background: #fff;
    text-align: center;
    margin: auto;
    padding: 0px 0px 0px;
}

.game-container .review-table {
    background: #fff;
    margin: auto;
    
}

.account-container {
    background: #fff;
    display: grid;
    margin: 40px;
    padding: 20px 40px 50px;

}

.account-container .topper {
    background: #fff;
    text-align: center;
    padding: 0px 0px 30px;
    margin-left: auto;
    margin-right: auto;
}

.account-container .topper p{
    background: #fff;
    text-align: center;
    margin: 0px;
    padding: 0px 20px 0px;
}

.account-container table {
    background: #fff;
    margin-left: auto;
    margin-right: auto;

}
.hero {
    background-color: #000000c4
;
    color: white;
    font-size: 18px;

    padding: 50px 0px;
    text-align: center;
}

.hero h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.hero a {
    color: white;
    text-decoration: underline;
}

.hero-inner {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.form-control {
    display: inline-block;
    border-radius: 2px;
    font-size: 20px;
    padding: 20px;
}

.pypi-stats {
    padding: 10px 0;
    background-color: #ececec;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin-bottom: 30px;
}

.pypi-stats .stat {
    display: inline-block;
    min-width: 170px;
    padding: 10px;
    font-size: 16px;
    color: #000000cf;
}

.project-list .subtitle {
    font-style: italic;
}

.project-list h2 {
    font-size: 24px;
    font-weight: bold;
}

.project-list .project {
    border: 1px solid #d3d3d3;
    padding: 10px;
    background-color: #ececec;
    min-height: 45px;
    margin-top: 15px;
    color: black;
    margin-bottom: 15px;
}

.project-list .project .title {
    font-size: 20px;
}

.project-list .project a {
    color: #000000cf;
    text-decoration: underline;
}

.project-list .project .desc {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}


footer {
    margin-top: 40px;
    padding: 30px;
    text-align: center;
    background-color:  #8ae3cf;
    color: #000000cf;
}

footer a {
    color: #0d147a;
}

.error-msg {
    color: #b30000;
}

.page-core {
    padding: 20px;
}