{% extends "shared/_layout.html" %}
{% block title %} Create Game {% endblock %}

{% block main_content %}
    <div class="form-container">
        <form action="" method="POST" class ="account-form">
            <h1> Create Game </h1>
            <div> first_player : {{ player_one_username }}
            <div>{{ form.player_two_username.label }}: {{ form.player_two_username() }}</div>
                {% if error_p2 %}
                <p class="error"> Player two username was invalid or missing. </p>
                {% endif %}
                <br/>
                {{ form.submit() }}
        </form>    
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}

