{% extends "shared/_layout.html" %}
{% block title %} Game {{ game.id }} {% endblock %}

{% block main_content %}

<div class="game-container">
    <div class="topper">
        <h1> Game Id: {{ game.id }} </h1>
        <h3> Winner: {{ game.winner_username}} </h3>
    </div>

  
    <div class="table">
        <table class="review-table">
            <tr>
                <th>{{ inning.player_one_username }}</th>
                <th>vs</th>
                <th>{{ inning.player_two_username }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_fifteen }}</th>
                <th>15</th>
                <th>{{ inning.p2_fifteen }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_sixteen }}</th>
                <th>16</th>
                <th>{{ inning.p2_sixteen }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_seventeen }}</th>
                <th>17</th>
                <th>{{ inning.p2_seventeen }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_eightteen }}</th>
                <th>18</th>
                <th>{{ inning.p2_eightteen }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_nineteen }}</th>
                <th>19</th>
                <th>{{ inning.p2_nineteen }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_twenty }}</th>
                <th>20</th>
                <th>{{ inning.p2_twenty }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_bullseye }}</th>
                <th>Bullseye</th>
                <th>{{ inning.p2_bullseye }}</th>
            </tr>
            <tr>
                <th>{{ inning.p1_miss }}</th>
                <th>MISS</th>
                <th>{{ inning.p2_miss }}</th>
            </tr>
        </table>
        
    </div>  
</div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/site.css">
{% endblock %}

